<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p>
      <i class="far fa-bookmark"></i> <span translate>Version</span> {{version}}
    </p>
  </div>
</div>
<!--<form>-->
  <!--<div class="form-row">-->
    <!--<div class="form-group col-md-6">-->
      <!--<form>-->
        <!--<div class="form-group">-->
          <!--<label for="departure-date">Departure</label>-->
          <!--<div class="input-group">-->
            <!--<input id="departure-date" class="form-control form-control-lg" placeholder="yyyy-mm-dd"-->
                   <!--name="departureDate" [(ngModel)]="departureDateModel" ngbDatepicker #departureDate="ngbDatepicker">-->
            <!--<div class="input-group-append">-->
              <!--<button class="btn btn-outline-secondary calendar" (click)="departureDate.toggle()" type="button"></button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
    <!--<div class="form-group col-md-6" *ngIf="isToggleActive">-->
      <!--<form>-->
        <!--<div class="form-group">-->
          <!--<label for="return-date">Return</label>-->
          <!--<div class="input-group">-->
            <!--<input id="return-date" class="form-control form-control-lg" placeholder="yyyy-mm-dd"-->
                   <!--name="returnDate" [(ngModel)]="returnDateModel" ngbDatepicker #returnDate="ngbDatepicker">-->
            <!--<div class="input-group-append">-->
              <!--<button class="btn btn-outline-secondary calendar" (click)="returnDate.toggle()" type="button"></button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->
