<div class="container-fluid">
  <div class="jumbotron">
    <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
      <label class="btn btn-primary" [ngClass]="{'active': isToggleActive}" (click)="isToggleActive = true">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> RETURN
      </label>
      <label class="btn btn-primary" [ngClass]="{'active': !isToggleActive}" (click)="isToggleActive = false">
        <input type="radio" name="options" id="option2" autocomplete="off"> ONE-WAY
      </label>
    </div>

    <!-- From / To Form -->
    <form>
      <div class="form-row">
        <div class="col-md-6">
          <app-skyscanner-search-place
            [label]="'From'"
            (searchPlaceQueryEvent)="handleOriginPlaceQuery($event)"
          ></app-skyscanner-search-place>
        </div>
        <div class="col-md-6">
          <app-skyscanner-search-place
            [label]="'To'"
            (searchPlaceQueryEvent)="handleDestinationPlaceQuery($event)"
          ></app-skyscanner-search-place>
        </div>
      </div>
    </form>
    <!-- #/From / To Form -->

    <!-- Departure / Return Date Form -->
    <form>
      <div class="form-row">
        <div class="col-md-6">
          <app-skyscanner-date-input
            [label]="'Departure'"
            [date]="departureDateQuery"
            (dateEvent)="handleDepartureDate($event)"
          ></app-skyscanner-date-input>
        </div>
        <div class="col-md-6">
          <app-skyscanner-date-input
            [label]="'Return'"
            [date]="returnDateQuery"
            (dateEvent)="handleReturnDate($event)"
          ></app-skyscanner-date-input>
        </div>
      </div>
    </form>
    <!-- #/Departure / Return Date Form -->
    <hr/>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="searchFlights()">EXPLORE FLIGHTS</button>
  </div>
</div>

<!-- Flight List -->
<div id="flight-list">
  <app-loader
    [isLoading]="isSearchingFlights"
    [message]="'Searching Flights...'"
    [faSize]="'fa-3x'"
  ></app-loader>
  <app-skyscanner-flights-list
    [quotesList]="quotesList"
  ></app-skyscanner-flights-list>
</div>
<!-- #/Flight List -->
